body {
    display: flex;
    flex-direction: column;
    align-items: default;
    justify-content: center;
    background-color: #364f6a;
}

button.login {
    background-color: wheat;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    align-self: center;
}
